page-form-modal {
    ion-header {
        button {
            background: transparent !important;
            color: #111 !important;
        }
    }
    .not-img {
        padding: 15%;
        text-align: center;
        box-shadow: #111 6px 18px;
    }
}